{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            {% include '::modulesUsed/navigation.html.twig' %}

            <div class="col-xs-12 col-sm-12 col-md-9">
                {% if produits|length != 0 %}
                    <ul class="thumbnails">
                        {% for produit in produits %}
                            <li class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ path('presentation', { 'id' : produit.id }) }}">
                                        <img src="{{ produit.image.AssetPath|imagine_filter('produitThumb') }}" alt="{{ produit.image.name }}"{# width="300" height="150"#}>
                                    </a>
                                    <div class="caption">
                                        <h4>{{ produit.nom }}</h4>
                                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                                        <a class="btn btn-primary" href="{{ path('presentation', { 'id' : produit.id }) }}">Plus d'infos</a>
                                        {% if panier[produit.id] is not defined %}
                                            <a class="btn btn-success" href="{{ path('ajouter', { 'id' : produit.id }) }}">Ajouter au panier</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="navigation">
                        {{ knp_pagination_render(produits) }}
                    </div>

                {% else %}
                    Aucun produit
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}