{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container" >
        <div class="row">
            {% include '::modulesUsed/navigation.html.twig' %}
            <div class="col-xs-12 col-sm-12 col-md-9">
                {% if produits|length != 0 %}
                    <ul class="thumbnails">
                        {% for produit in produits %}
                            <li class="col-md-4">
                                <div class="product">		
                                    <div class="product-image">
                                        <div class="image">
                                            <div class="thumbnail_container">
                                                <div class="thumbnail">
                                                    <a href="{{ path('presentation', { 'id' : produit.id }) }}">
                                                        <img class="img-responsive" src="{{ produit.image.AssetPath|imagine_filter('produit') }}" alt="{{ produit.image.name }}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div><!-- /.image -->			                      		   
                                    </div><!-- /.product-image -->

                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="{{ path('presentation', { 'id' : produit.id }) }}">{{ produit.nom }}</a></h3>
                                        <div class="rating rateit-small rateit"></div>
                                        <div class="description"></div>

                                        <div class="product-price">	
                                            <span class="price">{{ produit.prix|tva(produit.tva.multiplicate) }} €</span>
                                        </div><!-- /.product-price -->

                                    </div><!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                {% if panier[produit.id] is not defined %}                                                
                                                    <li class="add-cart-button btn-group">
                                                        <a class="btn btn-primary icon" data-toggle="dropdown" type="button" href="{{ path('ajouter', { 'id' : produit.id }) }}">
                                                            <i class="fa fa-shopping-cart"></i>													
                                                        </a>
                                                        <a class="btn btn-primary" type="button" href="{{ path('ajouter', { 'id' : produit.id }) }}">Add to cart</a>

                                                    </li>
                                                {% endif %}
                                                <li class="lnk wishlist">
                                                    <a class="add-to-cart" href="{{ path('presentation', { 'id' : produit.id }) }}" title="Wishlist">
                                                        <i class="icon fa fa-heart"></i>
                                                    </a>
                                                </li>

                                                <li class="lnk">
                                                    <a class="add-to-cart" href="{{ path('presentation', { 'id' : produit.id }) }}" title="Compare">
                                                        <i class="fa fa-retweet"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- /.action -->
                                    </div><!-- /.cart -->
                                </div>
                            </li> 
                        {% endfor %}
                    </ul>
                {% else %}
                    <br/>
                    <div style="text-align: center; font-size: 16px; color: red;">Aucun produit n'est disponible.</div>
                    <div style="text-align: center; margin-bottom: 100px;"><img src="/bms-market/old/web/images/plus_disponible.png" style="margin-top: 30px; width: 400px; height: 400px;" ><div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}