<head>
    <title>
        {% block title %}
            {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
    <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Fjalla+One|Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {# stylesheets... #}
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ asset("css/main.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset("css/blue.css") }}" type="text/css" />
        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
            'bundles/syliusweb/css/frontend.css'
            'bundles/syliusweb/css/blueimp-gallery.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% if is_granted('ROLE_SYLIUS_ADMIN') %}
            {% include "CmfCreateBundle::includecssfiles.html.twig" %}
        {% endif %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>